.ai-image-generator{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 30px;
}

.header{
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 1px;
}

.header span{
    color: hsl(312, 89%, 47%);
    font-weight: 600;
}

.img-loading{
    display: flex;
    flex-direction: column;
}

.img-loading img{
    width:400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px purple;
}

.search-box{
    display: flex;
    width: 600px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background-color:  hsl(263, 88%, 50%);;
}

.search-input{
    width: 600px;
    height: 40px;
    background: transparent;
    border:none;
    outline:none;
    font-size: 1rem;
    color:white;
    padding-left: 35px;
    margin-right:35px ;
}

.search-input::placeholder{
    color: beige;
}

.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    background: hsl(312, 89%, 47%);
    cursor: pointer;

}